<layout name="layout_home" />
		<div class="page-menu">
 			<div class="menu-left">
 				<div class="content-top">
 					<div class="top-img">
 						<img src="__PUBLIC__/{$food.thumb}" width="100%" height="100%">
 					</div>
 					<div class="top-intr">
 						<h3>{$food.name}</h3>
 						<h4 style="color:red;">￥{$food.price}</h4>
 						<p>“{$food.function}”</p>
 						<p>主要食材：{$food.batch}</p>
 					</div>
 					<div class="clear"></div>
 				</div>
 				<h3>菜品评价</h3>
 				<div class="content_evaluate">
 					<volist name="evaluate" id="data">
 					<div class="evaluate_whole">
	 					<div class="evaluate_left">
	 						<img src="__PUBLIC__/{$data.thumb}" width="" height="">
	 						<p>{$data.username}</p>
	 					</div>
	 					<div class="evaluate_right">
	 						<p>{$data.content}</p>
	 						<p>{$data.time}</p>
	 					</div>
	 					<div class="clear"></div>
 					</div>
 					</volist>
 				</div>
				<div class="content-rec">
					<h3>热门饮品推荐</h3>
					<ul class="drink">
						<volist name="drink" id="data">
						<li>
							<div class="img"><img src="__PUBLIC__/{$data.thumb}" style="width:83.48px;height:83.48px;"></div>
							<p>{$data.title}</p>
							<p style="color:red;">￥{$data.price}</p>
						</li>
						</volist>
					</ul>
				</div>
			</div>
			<div class="menu-right">
				<div class="menu-news">
					<div class="news-title">
						<p>健康饮食</p>
					</div>
					<ul class="news-list">
						<volist name="newsa" id="data">
						<li><a href="__MODULE__/News/content/id/{$data.id}">{$data.title}</a></li>
						</volist>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="menu-news">
					<div class="news-title">
						<p>饮食咨询</p>
					</div>
					<ul class="news-list">
						<volist name="newsb" id="data">
						<li><a href="__MODULE__/News/content/id/{$data.id}">{$data.title}</a></li>
						</volist>
						<div class="clear"></div>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!--导航 结束-->
	</div>
	<!-- 页脚 -->
	