<layout name="layout_home" />

		<!-- 导航结束 -->
		<div class="menu_list">
			<div class="menu-item">
				<ul id="tabs">
					<li><a href="#" title="tab1">早餐</a></li>
					<li><a href="#" title="tab2">午餐</a></li>
					<li><a href="#" title="tab3">晚餐</a></li>
					<li><a href="#" title="tab4">下午茶</a></li>
					<li><a href="#" title="tab5">甜品饮品</a></li>
					<li><a href="#" title="tab6">小吃夜宵</a></li>
					<div class="clear"></div>
				</ul>
			</div>
			<div class="page-menu-food" id="content">
				<ul id="tab1">
				<volist name="breakfastfood" id="data">
					<li>
						<a href="__MODULE__/menu/contents/id/{$data.id}">
							<img src="__PUBLIC__/{$data.thumb}" width="100%" height="100%">
						</a>
						<p>{$data.name}</p>
					</li>
				</volist>
					
					<div class="clear"></div>
				</ul>
				<ul id="tab2">
				<volist name="lunchfood" id="data">
					<li>
						<a href="__MODULE__/menu/contents/id/{$data.id}">
							<img src="__PUBLIC__/{$data.thumb}" width="100%" height="100%">
						</a>
						<p>{$data.name}</p>
					</li>
				</volist>
					
					<div class="clear"></div>
				</ul>
				<ul id="tab3">
				<volist name="dinnerfood" id="data">
					<li>
						<a href="__MODULE__/menu/contents/id/{$data.id}">
							<img src="__PUBLIC__/{$data.thumb}" width="100%" height="100%">
						</a>
						<p>{$data.name}</p>
					</li>
				</volist>
					
					<div class="clear"></div>
				</ul>
				<ul id="tab4">
				<volist name="tea" id="data">
					<li>
						<a href="__MODULE__/menu/contents/id/{$data.id}">
							<img src="__PUBLIC__/{$data.thumb}" width="100%" height="100%">
						</a>
						<p>{$data.name}</p>
					</li>
				</volist>
					<div class="clear"></div>
				</ul>
				<ul id="tab5">
				<volist name="drink" id="data">
					<li>
						<a href="__MODULE__/menu/contents/id/{$data.id}">
							<img src="__PUBLIC__/{$data.thumb}" width="100%" height="100%">
						</a>
						<p>{$data.name}</p>
					</li>
				</volist>
					<div class="clear"></div>
				</ul>
				<ul id="tab6">
				<volist name="snack" id="data">
					<li>
						<a href="__MODULE__/menu/contents/id/{$data.id}">
							<img src="__PUBLIC__/{$data.thumb}" width="100%" height="100%">
						</a>
						<p>{$data.name}</p>
					</li>
				</volist>	
					<div class="clear"></div>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
<script type="text/javascript">
        //滚动元素id，左切换按钮，右切换按钮，切换元素个数id,滚动方式，切换方向，是否自动滚动，滚动距离，滚动时间，滚动间隔，显示个数
        $(document).ready(function() {
            $("#content ul").hide(); // Initially hide all content
            $("#tabs li:first").attr("id","current"); // Activate first tab
            $("#tabs li a:first").attr("class","actived"); //Reset id's
            $("#content ul:first").fadeIn(); // Show first tab content
            
            $('#tabs a').click(function(e) {
                e.preventDefault();        
                $("#content ul").hide(); //Hide all content
                $("#tabs li").attr("id",""); //Reset id's
                $(this).parent().attr("id","current"); // Activate this
                $("#tabs li a").attr("class",""); //Reset id's
                $(this).attr("class","actived"); // Activate this
                $('#' + $(this).attr('title')).fadeIn(); // Show content for current tab
            });
        });
    </script>