<!DOCTYPE html>
<html>
<head>
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/nav.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/about.css">
	<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/manage.css"> -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/menu-content.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/menu.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/news.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/order.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/person.css">
	<link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.css">
	<script src="__PUBLIC__/home/js/jquery-1.11.3.js"></script>
	<script src="__PUBLIC__/home/js/bootstrap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/home/js/index.js"></script>
	<script type="text/javascript" src="__PUBLIC__/home/js/news.js"></script>
		
</head>
<body>
	<div class="head">
		<div class="head-left">
			<ul class="xm-nav">
				<li><img src="__PUBLIC__/home/images/ms03.png" width="100%" height="100%">
				<li><a href="{:U('Home/Index/index')}">首页</a></li>
				<li><a href="{:U('Home/Tmenu/menu')}">每日菜单</a></li>
				<li><a href="{:U('Home/News/news')}">新闻中心</a></li>
				<li><a href="{:U('Home/Order/order')}">订单查询</a></li>
				<li><a href="{:U('Home/Person/person')}">个人中心</a></li>
				<li><a href="{:U('Home/About/about')}">关于我们</a></li>
				<div class="clear"></div>
			</ul>
		</div>
		<div class="head-right">
			<div class="xm-sign">
			<if condition="isLogin()">
				<a style="color:#fff">欢迎：{$Think.session.number}</a>
				<a href="{:U('Index/loginout')}">退出</a>
			<else/>
			<a href="{:U('Home/Login/login')}">登录</a>/<a href="{:U('Home/Login/login')}">注册</a>
			</if>
			</div>
		
		</div>
		<div class="clear"></div>
	</div>
	<!--主体部分 开始-->
	<div class="page-theme">
		<!--导航 开始-->
		<div class="nav">
			<ul class="nav-theme">
				<li class="nav-theme-logo">
					<a href="javascript: void (0);">
						<img src="__PUBLIC__/home/images/ms02.png" alt="" width="100%" height="100%">
					</a>
				</li>
				<li class="nav-theme-nav">
					<a href="{:U('Home/Index/index')}">首页</a>
					<a href="{:U('Home/Tmenu/menu')}">每日菜单</a>
					<a href="{:U('Home/News/news')}">新闻中心</a>
					<a href="{:U('Home/Order/order')}">订单查询</a>
					<a href="{:U('Home/Person/person')}">个人中心</a>
					<a href="{:U('Home/About/about')}">关于我们</a>
				</li>
				<!-- <li class="nav-theme-search">
					<div class="nav-theme-search-input">
						<input type="text">
						<a href="javascript: void (0);">搜索</a>
					</div>
				</li> -->
				<div class="clear"></div>
			</ul>
		</div>
		{__CONTENT__}
		<div class="footers">
		<div class="footer">
			<div class="footer-left">
				<p class="feel">职工餐厅-公司给您家的感觉</p>
				<ul>
					<li><a href="{:U('Home/Index/index')}">首页</a></li>
					<li><a href="{:U('Home/News/news')}">新闻中心</a></li>
					<li><a href="{:U('Home/Order/order')}">订单查询</a></li>
					<li><a href="{:U('Home/Person/person')}">个人中心</a></li>
					<li><a href="{:U('Home/About/about')}">关于我们</a></li>
					<li class="clear"></li>
				</ul>
				<p>联系电话：0000-000000</p>
			</div>
			<div class="footer-right">
				<p class="feel">餐厅展景</p>
				<ul>
					<li><img src="__PUBLIC__/home/images/restaurant/1.jpg"></li>
					<li><img src="__PUBLIC__/home/images/restaurant/1.jpg"></li>
					<li><img src="__PUBLIC__/home/images/restaurant/1.jpg"></li>
					<li><img src="__PUBLIC__/home/images/restaurant/1.jpg"></li>
					<div class="clear"></div>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</body>
</html>