<layout name="layout_home" />
<div class="ne_content">
	<h1>{$news.title}</h1>
	<p>{:html_entity_decode($news['content'])}</p>
</div>
<div class="ne_foot">
	<ul>
        <li>上一篇：
            <if condition="$prev eq '没有了'">
                没有了
                <else />
                <a href="__MODULE__/News/content/id/{$prev.id}">{$prev.title}</a>
            </if>
        </li>
        <li>下一篇：
            <if condition="$next eq '没有了'">
                没有了
                <else />
                <a href="__MODULE__/News/content/id/{$next.id}">{$next.title}</a>
            </if>
        </li>
      </ul>
</div>
</div>