<layout name="layout_home" />
<div class="page_news">
    <div class="row clearfix">
        <div class="carousel slide" id="carousel-912679">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carousel-912679">
                </li>
                <li data-slide-to="1" data-target="#carousel-912679">
                </li>
                <li data-slide-to="2" data-target="#carousel-912679">
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="" src="__PUBLIC__/home/images/news_1.jpg" />
                    <div class="carousel-caption">
                        
                    </div>
                </div>
                <div class="item">
                    <img alt="" src="__PUBLIC__/home/images/news_2.jpg" />
                    <div class="carousel-caption">
                        
                    </div>
                </div>
                <div class="item">
                    <img alt="" src="__PUBLIC__/home/images/banner24.jpg" />
                    <div class="carousel-caption">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
		</div>
        <div class="news_type">
            <div class="type_left">
                <div class="left_type">
                    <ul id="tabs">
                        <li><a href="#" title="tab1" class="actived">健康饮食</a></li>
                        <li><a href="#" title="tab2">饮食咨询</a></li>
                        <li><a href="#" title="tab3">为您推荐</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="left_content" id="content">
                    <ul id="tab1">
                    <volist name="news" id="data">
                        <li>
                            <div class="content_img">
                                <img src="__PUBLIC__/{$data.thumb}" width="100%" height="100%">
                            </div>
                            <div class="content_text">
                                <h4>{$data.title}</h4>
                                
                                <p>{$data.content|msubstr=0,80,'utf-8',ture}</p>
                                <div >
                                    <span style="float:left">{$data.time}</span>
                                    <a href="__MODULE__/News/content/id/{$data.id}" style="color:#ff6767;float: right;font-size:16px;">查看更多>></a>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </li>
                    </volist>
                    </ul>
                    <ul id="tab2">
                        <volist name="news2" id="data">
                        <li>
                            <div class="content_img">
                                <img src="__PUBLIC__/{$data.thumb}" width="100%" height="100%">
                            </div>
                            <div class="content_text">
                                <h4>{$data.title}</h4>
                                
                                <p>{$data.content|msubstr=0,80,'utf-8',ture}</p>
                                <div >
                                    <span style="float:left">{$data.time}</span>
                                    <a href="__MODULE__/News/content/id/{$data.id}" style="color:#ff6767;float: right;font-size:16px;">查看更多>></a>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </li>
                    </volist>
                    </ul>
                    <ul id="tab3">
                        <volist name="news3" id="data">
                        <li>
                            <div class="content_img">
                                <img src="__PUBLIC__/{$data.thumb}" width="100%" height="100%">
                            </div>
                            <div class="content_text">
                                <h4>{$data.title}</h4>
                                
                                <p>{$data.content|msubstr=0,80,'utf-8',ture}</p>
                                <div >
                                    <span style="float:left">{$data.time}</span>
                                    <a href="__MODULE__/News/content/id/{$data.id}" style="color:#ff6767;float: right;font-size:16px;">查看更多>></a>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </li>
                    </volist>
                    </ul>
                </div>
            </div>
            <!-- <span class="type_hot">一周热门</span> -->
            
            <div class="type_right">
                <span class="type_hot">一周热门</span>
                <ul>
                    <volist name="news1" id="data">
                    <li>
                        <div class="right_img">
                            <img src="__PUBLIC__/{$data.thumb}" width="100%" height="100%">
                        </div>
                        <div class="right_text">
                            <a href="__MODULE__/News/content/id/{$data.id}">{$data.title}</a>
                            <span style="text-align: right">{$data.time}</span>
                        </div>
                             <div class="clear"></div>
                    </li>
                     </volist>

                </ul>
            </div>
           
            <div class="clear"></div>
        </div>
	</div>
</div>
<script type="text/javascript">
        //滚动元素id，左切换按钮，右切换按钮，切换元素个数id,滚动方式，切换方向，是否自动滚动，滚动距离，滚动时间，滚动间隔，显示个数
        LbMove('BoxUl','btnl','btnr','BoxSwitch',true,'left',true,187,1000,2000,4);
        $(document).ready(function() {
            $("#content ul").hide(); // Initially hide all content
            $("#tabs li:first").attr("id","current"); // Activate first tab
            $("#tabs li a:first").attr("class","actived"); //Reset id's
            $("#content ul:first").fadeIn(); // Show first tab content
            
            $('#tabs a').click(function(e) {
                e.preventDefault();        
                $("#content ul").hide(); //Hide all content
                $("#tabs li").attr("id",""); //Reset id's
                $(this).parent().attr("id","current"); // Activate this
                $("#tabs li a").attr("class",""); //Reset id's
                $(this).attr("class","actived"); // Activate this
                $('#' + $(this).attr('title')).fadeIn(); // Show content for current tab
            });
        });
    </script>
