<layout name="layout_admin"/>
<div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">今日菜品列表</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" action="__MODULE__/Todayfood/delete">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__MODULE__/Todayfood/add"><i class="icon-font"></i>新增菜品</a>
                        
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="6%"><input class="allChoose" name="checkall[]" type="checkbox" id="chkall" onclick='selectcheckbox(this.form)'></th>
                            <th width="12%">菜品配图</th>
                            <th width="12%">菜品类型</th>
                            <th width="12%">菜品名称</th>
                            <th width="12%">菜品价格</th>
                            <th width="12%">菜品配料</th>
                            <th width="12%">菜品功能</th>
                            <th width="12%">添加时间</th>
                            <th width="12%">操作</th>
                        </tr>
                        <volist name="food" id="data">
                        <tr>
                            <td><input type="checkbox" name="foodId[]" id="checkbox" value="{$data.id}"><label for="checkbox"></label></td>
                            <td><img src="__PUBLIC__/{$data.thumb}" width="60px" height="60px"></td>
                            <td>{$data.type}</td>
                            <td>{$data.name|msubstr=0,8,'utf-8',ture}</td>
                            <td>{$data.price}</td>
                            <td>{$data.batch|msubstr=0,8,'utf-8',ture}</td>
                            <td>{$data.function|msubstr=0,8,'utf-8',ture}</td>
                            <td>{$data.time}</td>
                            <td>
                                <a class="link-update" href="__MODULE__/Todayfood/edit/id/{$data.id}">修改</a>
                                <a class="link-del" href="__MODULE__/Todayfood/delete/foodId/{$data.id}">删除</a>
                            </td>
                        </tr>
                        </volist>
                    </table>
                    <div id="alldelete">
                        <button type="submit" id="batchDel" class="btn btn-danger " href="__MODULE__/Todayfood/delete">批量删除</button> 
                    </div>
                    <div class="list-page">{$page}</div>
                </div>
            </form>
        </div>
    </div>
<script type="text/javascript">
    choice = function(res){
            var id = res.id;
            console.log(id)
            $.ajax({
                type:"POST",
                url:"__MODULE__/Todayfood/lists",
                data:{id:id},
                dataType: "json",
                success:function(res){
                    console.log(res)
                    // if(res){
                    //     window.location.href="{:U('admin/Todayfood/lists?p=1')}";
                    // }
                }
            });
        }
</script>