<layout name="layout_home" />
	<!--主体部分 开始-->

		<!--导航 结束-->

		<!--轮播图 开始-->
		<div class="page-theme-banner">
			<div class="page-theme-banner-left">
				<ul>
					<li><a href="__MODULE__/menu/menu" class="la">早餐</a>
						<ul>
						<volist name="fooda" id="data" offset="0" length="3">
							<li><a href="__MODULE__/Menu/contents/id/{$data.id}">{$data.name}</a></li>
						</volist>	
							<li><a href="javascript:void(0)">
								<img src="__PUBLIC__/home/images/mamapai.jpg">
							</a></li>			
							<div class="clear"></div>
						</ul>
					</li>
					<li><a href="__MODULE__/menu/menu" class="la">午餐</a>
						<ul>
						<volist name="foodb" id="data" offset="0" length="3">
							<li><a href="__MODULE__/Menu/contents/id/{$data.id}">{$data.name}</a></li>
						</volist>
							<li><a href="javascript:void(0)">
								<img src="__PUBLIC__/home/images/mamapai.jpg">
							</a></li>
							<div class="clear"></div>
						</ul>
					</li>
					<li><a href="__MODULE__/menu/menu" class="la">下午茶</a>
						<ul>
						<volist name="foodc" id="data" offset="0" length="3">
							<li><a href="__MODULE__/Menu/contents/id/{$data.id}">{$data.name}</a></li>
						</volist>
							<li><a href="javascript:void(0)">
								<img src="__PUBLIC__/home/images/mamapai.jpg">
							</a></li>
							<div class="clear"></div>
						</ul>
					</li>
					<li><a href="__MODULE__/menu/menu" class="la">晚餐</a>
						<ul>
						<volist name="foodd" id="data" offset="0" length="3">
							<li><a href="__MODULE__/Menu/contents/id/{$data.id}">{$data.name}</a></li>
						</volist>
							<li><a href="javascript:void(0)">
								<img src="__PUBLIC__/home/images/mamapai.jpg">
							</a></li>
							<div class="clear"></div>
						</ul>
					</li>
					<li><a href="__MODULE__/menu/menu" class="la">甜品饮品</a>
						<ul>
						<volist name="foode" id="data" offset="0" length="3">
							<li><a href="__MODULE__/Menu/contents/id/{$data.id}">{$data.name}</a></li>
						</volist>
							<li><a href="javascript:void(0)">
								<img src="__PUBLIC__/home/images/mamapai.jpg">
							</a></li>
							<div class="clear"></div>
						</ul>
					</li>
					<li><a href="__MODULE__/menu/menu" class="la">小吃夜宵</a>
						<ul>
						<volist name="foodf" id="data" offset="0" length="3">
							<li><a href="__MODULE__/Menu/contents/id/{$data.id}">{$data.name}</a></li>
						</volist>
							<li><a href="javascript:void(0)">
								<img src="__PUBLIC__/home/images/mamapai.jpg">
							</a></li>
							<div class="clear"></div>
						</ul>
					</li>
					<div class="clear"></div>
				</ul> 
			</div>
			<div class="page-theme-banner-right">
					<!-- <div class="row clearfix">
						<div class="col-md-12 column"> -->
							<div class="carousel slide" id="carousel-912679">
								<ol class="carousel-indicators">
									<li class="active" data-slide-to="0" data-target="#carousel-912679">
									</li>
									<li data-slide-to="1" data-target="#carousel-912679">
									</li>
									<li data-slide-to="2" data-target="#carousel-912679">
									</li>
								</ol>
								<div class="carousel-inner">
									<div class="item active">
										<img alt="" src="__PUBLIC__/home/images/banner1.jpg" />
										<div class="carousel-caption">
											
										</div>
									</div>
									<div class="item">
										<img alt="" src="__PUBLIC__/home/images/banner2.jpg" />
										<div class="carousel-caption">
											
										</div>
									</div>
									<div class="item">
										<img alt="" src="__PUBLIC__/home/images/banner3.jpg" />
										<div class="carousel-caption">
											
										</div>
									</div>
							</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		<!--轮播图 结束-->
		<!-- 新闻 开始 -->
		<div class="page-news">
			<div class="page-news-item">
				<div class="w-1">
					<p class="w-news">健康饮食</p>
					<div class="line"></div>
				</div>
				<div class="w-2">
					<img src="__PUBLIC__/home/images/w-1.jpg" width="100%" height="124px">
				</div>
				<div class="w-3">
					<ul>
						<volist name="newsa" id="data">
						<li><a href="__MODULE__/News/content/id/{$data.id}">{$data.title}</a></li>
						</volist>
					</ul>
				</div>
			</div>
			<div class="page-news-item step">
				<div class="w-1">
					<p class="w-news">饮食咨询</p>
					<div class="line"></div>
				</div>
				<div class="w-2">
					<img src="__PUBLIC__/home/images/w-2.jpg" width="100%" height="124px">
				</div>
				<div class="w-3">
					<ul>
					<volist name="newsb" id="data">
						<li><a href="__MODULE__/News/content/id/{$data.id}">{$data.title}</a></li>
					</volist>
					</ul>
				</div>
			</div>
			<div class="page-news-item">
				<div class="w-1">
					<p class="w-news">为您推荐</p>
					<div class="line"></div>
				</div>
				<div class="w-2">
					<img src="__PUBLIC__/home/images/w-3.jpg" width="100%" height="124px">
				</div>
				<div class="w-3">
					<ul>
						<volist name="newsc" id="data">
						<li><a href="__MODULE__/News/content/id/{$data.id}">{$data.title}</a></li>
						</volist>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- 新闻  结束 -->
		<!-- 菜单 开始 -->
		<div class="page-menu">
			<div class="page-menu-item">
				<ul>
					<li id="menu" onclick="menu()" class="actived"><a href="javascript:void(0)">今日菜单</a></li>
					<li id="hot" onclick="hot()"><a href="javascript:void(0)">热门推荐</a></li>
					<div class="clear"></div>
				</ul>
			</div>
			<div class="page-menu-food">
				<ul>
				<volist name="todayfood" id="data">
					<li>
						<a href="__MODULE__/Tmenu/content/id/{$data.id}">
							<img src="__PUBLIC__/{$data.thumb}" width="100%" height="100%">
						</a>
						<p>{$data.name}</p>
					</li>
				</volist>
					<div class="clear"></div>
				</ul>
			</div>
			<div class="page-menu-food2" style="display: none;">
				<ul>
				<volist name="food" id="data">
					<li>
						<a href="__MODULE__/Menu/contents/id/{$data.id}">
							<img src="__PUBLIC__/{$data.thumb}" width="100%" height="100%">
						</a>
						<p>{$data.name}</p>
						<!-- <p class="bmbox">fsdasffffffff</p> -->
					</li>
				</volist>
					
					<div class="clear"></div>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<!-- 菜单 结束 -->
	</div>
	<!--主体部分 结束-->
	<!-- 返回顶部 -->
	<div class="back-top" onclick="back()">
		<a><img src="__PUBLIC__/home/images/back.png"></a>
	</div>
	<!-- 页脚 -->
	