<layout name="layout_admin"/>
<div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="__MODULE__/Food/lists">菜品管理</a><span class="crumb-step">&gt;</span><span>修改菜品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="__MODULE__/Food/doEdit" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                             <tr><td>
                                <input type="hidden" name="id" value="{$food.id}">
                            </td></tr>
                            <tr>
                                <th><i class="require-red">*</i>名称</th>
                                <td>
                                    <input class="common-text required" id="name" name="name" size="50" value="{$food.name}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>价格</th>
                                <td>
                                    <input class="common-text required" id="price" name="price" size="50" value="{$food.price}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>配料</th>
                                <td>
                                    <input class="common-text required" id="price" name="batch" size="50" value="{$food.batch}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>类型：</th>
                                <td>
                                    <select  class="common-text required" id="type" name="type" value="" style="width:200px">
                                        <volist name="foodtypes" id="data">
                                            <option value="{$data.name}">{$data.name}</option>
                                        </volist>
                                    </select>
                                </td>
                            </tr> 
                            <tr>
                                <th>菜品配图：</th>
                                <td>
                                <img src="__PUBLIC__/{$food.thumb}" width="60px" height="60px">
                                <input name="thumb" id="" type="file"></td>
                            </tr>
                            <tr>
                                <th>发布时间：</th>
                                <td>
                                    <input class="common-text required" id="read-style" size="50" name="time" value="{$time}" type="text" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>类型：</th>
                                <td>
                                    <select  class="common-text required" id="type" name="type" value="" style="width:200px">
                                        <volist name="foodtypes" id="data">
                                            <if condition="$food[type] eq $data[name]">
                                                <option value="{$data.name}" selected="selected">{$data.name}</option>
                                            <else/>
                                               <option value="{$data.name}">{$data.name}</option> 
                                            </if>
                                        </volist>
                                    </select>
                                </td>
                            </tr> 
                            <tr>
                                <th>菜品功能：</th>
                                <td><textarea name="content" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10">{$food.content}</textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>