<layout name="layout_admin"/>
<div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">统计列表</span></div>
        </div>

        <div class="result-wrap">
            <form name="myform" id="myform" action="__MODULE__/Sum/del">
             <div class="result-title">
                    <div class="result-list">
                       <i class="icon-font">&#xe050;</i>统计列表   
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="6%"><input class="allChoose" name="checkall[]" type="checkbox" id="chkall" onclick='selectcheckbox(this.form)'></th>
                            <th width="15%">菜品名称</th>
                            <th width="15%">份数</th>
                            <th width="15%">时间</th>
                            <th width="12%">操作</th>
                        </tr>
                        <volist name="news" id="data">
                        <tr>
                            <td><input type="checkbox" name="sumId[]" id="checkbox" value="{$data.name}"><label for="checkbox"></label></td>
                            <td>{$data.name}</td>
                            <td>{$data.count(sum)}</td>
                            <td>{:date('Y-m-d')}</td>
                            <td>
                                <a class="link-del" id="{$data.name}" href="javascript:void(0)" onclick="del(this)">删除</a>
                            </td>
                        </tr>
                        </volist>
                    </table>
                    <div id="alldelete">
                        <button type="submit" id="batchDel" class="btn btn-danger " href="__MODULE__/Sum/del">批量删除</button> 
                    </div>
                    <div class="list-page">{$page}</div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        del = function(res){
            var id = res.id;
            console.log(id);
            $.ajax({
                type:"POST",
                url:"__MODULE__/Sum/delete",
                data:{id:id},
                dataType: "json",
                success:function(res){
                    // console.log(res);
                    if(res == 1){
                        location.reload();
                    }
                }
            });
        }
        dele = function(){
             $("#checkbox").val();
            console.log($("#checkbox").val())
        }
    </script>