.page-about{
	width:100%;
	margin:20px auto;
}
.about_item{
	width:90%;
    margin:0 auto;
    font-size: 20px;
    
}
.about_item>h3{
	margin-top:12px;
    color: #ff6767;
    padding: 20px 0 20px 25px;
    background: rgba(0,0,0,0) url(../images/mo.png) no-repeat scroll left center;
}
.about_item>p{
    text-indent: 2em;
}
.about_left>h3{
    margin-top:12px;
    color: #ff6767;
    padding: 20px 0 20px 25px;
    background: rgba(0,0,0,0) url(../images/mo.png) no-repeat scroll left center;
}
.about_right>h3{
    margin-top:12px;
    color: #ff6767;
    padding: 20px 0 20px 25px;
    background: rgba(0,0,0,0) url(../images/mo.png) no-repeat scroll left center;
}
.about_left{
    float:left;
    width:50%;
}
.about_right{
    float:right;
    width:50%;
}
.about_advice{
    width:100%;
    height:200px;
}