.page-theme{
	width:100%;
	
}
.register_banner{
	position: absolute;
	z-index:-1;
	width:100%;
}
.xm-content{
	width:30%;
	background-color: white;
	position: relative;
	left:45%;
	top:60px;
}
.xm-input-box{
    width:70%;
    border:1px solid #999;
    padding:5px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.xm-icon-size{
    width: 20px;
    height: 15px;
    display: flex;
    align-items: center;

}
.xm-icon-size>img{
    width:100%;
    height:100%;
}
.xm-input-box>input{
    border: none;
    width: 230px;
    outline: none;
    height:20px;
    padding:5px 10px;
    background: rgba(0,0,0,0)
}
.xm-dlu{
    width:70%;
    margin:30px auto 0 auto;
    background-color: #2db3a6;
    text-align: center;
}
.xm-dlu input{
    color: #fff;
    background-color: #2db3a6;
    border: none;
    padding:10px;
 }
.signup-guide{
    width:70%;
    margin:10px auto;
}
.signup-guide>p>a{
    color:#ff6767;
    text-decoration: underline;
}
.content-header{
    width:100%;

}
.content-header a{
    width:50%;
    float: left;
    text-align: center;
    line-height:35px;
    font-size:16px;
}
/*.content-header ul li:hover{
    background: rgba(0,0,0,.6);
}
.content-header ul li:hover a{
    color:white;
}*/
.actived{
    background-color: rgba(0,0,0,.6);

}
.content-header a:hover{
    color:#ff6767;
    text-decoration: none;
}
.content-header a:focus{
    color:#ff6767;
    text-decoration: none;
}
.content-login{
    width: 80%;
    margin:0 auto;
    padding-bottom:20px;
}
.content-register{
    display: none;
    width: 80%;
    margin:0 auto;
    padding-bottom:20px;
}
.code{   
    background:url(images/code.png) no-repeat 5px 5px;  
    font-family:Arial;   
    font-style:italic;   
    color:red;   
    border:0;   
    padding:2px 3px;   
    letter-spacing:3px;   
    font-weight:bolder;   
    font-size:18px;
}   
.unchanged{   
    border:0;   
}   