<layout name="layout_home" />
		<!--导航 结束-->
		<div class="page-about">
			<div class="about_item">
				<h3>关于我们</h3>
				<p>很多公司都有自己的职工餐厅，职工餐厅是员工的福利。但是职工餐厅不像外面的餐馆针对所有人开放，职工餐厅的服务群体是本公司的员工。面对特定的群体就有可以灵活把控的范围，譬如菜单的内容，餐量的多少。这些因素可以使员工餐做的更人性化，更便捷。也为团结公司力量做出一份贡献，使公司成为每个员工温暖的大家庭。其中的关键点就在于餐厅和员工有足够的交流和互动。公司为解决这一问题，特推出本系统。公司餐饮部门将每天的菜单上传展示给所有的员工看，员工可以看到今天的菜单，可以根据自己的喜好点餐，可以根据自己的情况报名是否在员工餐厅吃饭，这样餐厅厨师就可以根据反馈的信息制定菜单，也可以根据报名人数来衡量应该准备的餐量。</p>
			</div>
			<div class="about_item">
				<div class="about_left">
					<h3>联系方式</h3>
					<div class=""></div>
				</div>
				<div class="about_right">
					<h3>意见建议</h3>
					<textarea class="about_advice" ></textarea> 
					<input type="submit">
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	