<layout name="layout_admin" />
<div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i>
                <span>首页</span>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>快捷操作</h1>
            </div>
            <div class="result-content">
                <div class="short-wrap">
                    <ul class="short-list">
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/010.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('Users/lists?p=1')}">管理员管理</a></div></li>
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/011.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('New/lists?p=1')}">用户管理</a></div></li>
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/006.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('Industry/lists?p=1')}">新闻管理</a></div></li>
                    </ul>
                    <ul class="short-list">
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/008.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('Product/lists?p=1')}">每日菜单管理</a></div></li>
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/001.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('Case/lists?p=1')}">菜品管理</a></div></li>
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/012.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('Apply/lists?p=1')}">评价管理</a></div></li>
                    </ul>
                    <ul class="short-list">
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/003.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('Honor/lists?p=1')}">留言簿</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-content1">
                <h6>项目背景</h6>
                <p>很多公司都有自己的职工餐厅，职工餐厅是员工的福利。但是职工餐厅不像外面的餐馆针对所有人开放，职工餐厅的服务群体是本公司的员工。面对特定的群体就有可以灵活把控的范围，譬如菜单的内容，餐量的多少。这些因素可以使员工餐做的更人性化，更便捷。也为团结公司力量做出一份贡献，使公司成为每个员工温暖的大家庭。其中的关键点就在于餐厅和员工有足够的交流和互动。</p>
                <p>目前大多数公司的职工餐厅和员工是缺乏交流和沟通的，本系统意在解决这个问题。</p>
            </div>
        </div>
        
    </div>