<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>职工订餐系统</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/mycss.css"/>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/style.css">
    <script type="text/javascript" src="__PUBLIC__/admin/js/modernizr.min.js"></script>
    
    <script type="text/javascript" src="__PUBLIC__/admin/js/quanxuan.js"></script>
     <script type="text/javascript" src="__PUBLIC__/admin/js/jquery-1.11.3.js"></script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <!-- <h1 class="topbar-logo none"><a href="#" class="navbar-brand">后台管理</a></h1> -->
            <img src="__PUBLIC__/admin/images/logo.jpg" height="45px;" >
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <if condition="isLogin()">
                <a style="color:#fff">欢迎：{$Think.session.username}</a>
                <a href="{:U('Index/loginout')}">退出</a>
                <else/>
                <a href="{:U('Home/Login/login')}">登录</a>/<a href="{:U('Home/Login/login')}">注册</a>
                </if>
            </ul>
        </div>
    </div>
</div>


    <aside class="accordion" style="float:left">
        <h1><i class="icon-font">&#xe001;</i>管理员管理</h1>
        <div class="opened-for-codepen">
            <h2><a href="{:U('Admin/lists?p=1')}"><i class="icon-font">&#xe050;</i>管理员列表</a></h2>
            <h2><a href="{:U('Admin/add')}"><i class="icon-font">&#xe026;</i>添加管理员</a></h2>
            <h2><a href="{:U('Admin/pass')}"><i class="icon-font">&#xe051;</i>修改个人密码</a></h2>
        </div>
        <h1><i class="icon-font">&#xe051;</i>用户管理</h1>
        <div >
            <h2><a href="{:U('Users/lists?p=1')}"><i class="icon-font">&#xe050;</i>用户列表</a></h2>
            <h2><a href="{:U('Users/add')}"><i class="icon-font">&#xe026;</i>添加用户</a></h2>
        </div>
        <h1><i class="icon-font">&#xe018;</i>菜品统计</h1>
        <div>
            <h2><a href="{:U('Sum/lists?p=1')}"><i class="icon-font">&#xe050;</i>统计列表</a></h2>
        </div>
        <h1><i class="icon-font">&#xe005;</i>每日菜单管理</h1>
        <div>
            <h2><a href="{:U('Todayfood/lists?p=1')}"><i class="icon-font">&#xe050;</i>菜品列表</a></h2>
            <h2><a href="{:U('Todayfood/add')}"><i class="icon-font">&#xe026;</i>新增菜品</a></h2>
        </div>

        <h1><i class="icon-font">&#xe005;</i>菜品管理</h1>
        <div>
            <h2><a href="{:U('Food/lists?p=1')}"><i class="icon-font">&#xe050;</i>菜品列表</a></h2>
            <h2><a href="{:U('Food/add')}"><i class="icon-font">&#xe026;</i>新增菜品</a></h2>
        </div>
        
        <h1><i class="icon-font">&#xe001;</i>新闻管理</h1>
        <div>
            <h2><a href="{:U('New/lists?p=1')}"><i class="icon-font">&#xe050;</i>新闻列表</a></h2>
            <h2><a href="{:U('New/add')}"><i class="icon-font">&#xe026;</i>添加新闻</a></h2>
        </div>

        <h1><i class="icon-font">&#xe018;</i>评价管理</h1>
        <div>
            <h2><a href="{:U('Evaluate/lists?p=1')}"><i class="icon-font">&#xe050;</i>评价列表</a></h2>
        </div>

        <h1><i class="icon-font">&#xe060;</i>留言簿</h1>
        <div>
            <h2><a href="{:U('Advice/lists?p=1')}"><i class="icon-font">&#xe050;</i>留言列表</a></h2>
        </div>
        </div>
    </aside>

    {__CONTENT__}


<!-- <script src="__PUBLIC__/admin/js/jquery-1.8.3.min.js"></script> -->
<script src="__PUBLIC__/admin/js/index.js"></script>
</body>
</html>