<layout name="layout_home" />
		<!-- 导航 结束 -->
		<div class="page-content">
			<div class="page-left">
				<div class="left-header">
					<h4>个人中心</h4>
				</div>
				<form action="__MODULE__/Person/dopwd" method="POST" id="myform" name="myform" enctype="multipart/form-data">
				<div class="left-mes">
					<div class="mes-img">
						<img src="__PUBLIC__/{$user.thumb}" width="100%" height="100%">
					</div>
					<div class="mes-name">{$user.username}</div>
					<div class="person-items">
				 		<a class="link-update" href="__MODULE__/Person/pass/id/{$user.id}">修改个人密码</a>
				 	</div>
				</div>
				</form>
				<div class="left-content"></div>	
			</div>
			<div class="page-person">
				<div class="person-setting">
					<p class="title">个人信息</p>
					<p class="des">账号设置</p>
				</div>
				<div class="person-item">
					<div class="item-name">
						<p>头像</p>
					</div>
					<form action="__MODULE__/Person/doEdit" method="POST" id="myform" name="myform" enctype="multipart/form-data">
					<div class="item-img">
						<img src="__PUBLIC__/{$user.thumb}" id="imghead" width="48px" height="48px">
					</div>
					<div class="clear"></div>
				</div>
				<div class="person-item" style="background-color:#FFFAF0">
					<div class="item-name">
						<p>真实姓名</p>
					</div>
					<div class="item-img">
						<input type="text" class="value" value="{$user.truename}" name="truename" readonly>
					</div>
					<div class="clear"></div>
				</div>
				<div class="person-item" >
					<div class="item-name">
						<p>工号</p>
					</div>
					<div class="item-img">
						<input type="text" class="value" value="{$user.number}" name="number" readonly>
					</div>
					<div class="clear"></div>
				</div>
				<div class="person-item" style="background-color:#FFFAF0">
					<div class="item-name">
						<p>用户名</p>
					</div>
					<div class="item-img">
						<input type="text" class="value" value="{$user.username}" name="username">
					</div>
					<div class="clear"></div>
				</div>
				<div class="person-item" >
					<div class="item-name">
						<p>所属部门</p>
					</div>
					<div class="item-img">
						<input type="text" class="value" value="{$user.branch}" name="branch">
					</div>
				
					<div class="clear"></div>
				</div>
				<div class="person-item" style="background-color:#FFFAF0">
					<div class="item-name">
						<p>职位</p>
					</div>
					<div class="item-img">
						<input type="text" class="value" value="{$user.job}" name="job">
					</div>
					
					<div class="clear"></div>

				</div>

				<!-- <div class="person-item">
					<div class="item-name">
						<p>登录密码</p>
					</div>
					<div class="item-img">
						<input type="password" class="value" value="{$user.password}" name="password">
					</div>
					
					<div class="clear"></div>
				</div> -->
				<!-- <button class="btn-change" type="submit">修改</button> -->
				 <div class="person-items">
				 	<a class="link-update" href="__MODULE__/Person/edit/id/{$user.id}">修改</a>
				 </div>
			</form>
			</div>
			<div class="clear"></div>

		</div>
	</div>
